:root {
  --blue: rgb(20, 51, 203);
}

.app {
  margin: 0 auto;
  max-width: 1200px;
  background: rgb(237, 237, 237);
  background-color: black;
}

header {
  font-family: inherit;
}

navbar {
 text-emphasis-color: var(--blue);
}

body {
  margin: 0;
  font-family: fantasy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 0 1rem;
  
}

code {
  font-family: "Playfair Display", serif;
 
}


form {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
}

.newMenuItem {
  background: white;
}

form button {
  margin: 0.5rem 1rem;
  color: yellow;
  background-color: rgb(36, 122, 221);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
